/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Common section styling */
.section {
    padding: 40px;
    text-align: center;
}

/* Section 1 */
.header {
    background-color: #2c3e50;
    color: white;
}

/* Section 2 */
.content {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    width: 200px;
    height: 100px;
    border-radius: 18px;
    border: 5px solid rgba(15, 151, 210, 0.961);
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
