* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #415b74;
    padding: 40px;
}

.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input:not([type="radio"]):not([type="checkbox"]),
/* input, */
textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.options label {
    display: flex;
    justify-content: space-between;
    width:30%;           
    margin-bottom: 8px;
    font-weight: normal;
}

.reset-btn {
    margin-top: 8px;
    background: #ccc;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    background: #2c3e50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #1a252f;
}
